/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add Project 2 CSS code to --------------------------------------------------------------------------------------------*/


#mmenu ul
{
 margin: 0;
 padding: 0 1em;
 background: #669999;
 height: 3em;
 list-style: none;
}

#mmenu li
{
 float: left;
 height: 100%;
 margin-right: 0.5em;
 padding: 0 1em;
}

#mmenu a
{
 float: left;
 height: 100%;
 color: #000;
 text-decoration: none;
 line-height: 3;
 font-weight: bold;
 text-transform: uppercase;
}

#mmenu a:hover
{
 color: #999900;
 text-decoration: underline;
}

#mmenu li
{
    list-style: none;
    float: left;
    margin-right: 0.5em;
}

#busphoto
{
    float: left;
} 

#about
{
    overflow: auto;
    width: 98%;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-right: 150px;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid black;
}

#about h1
{
      margin-left: 200px;
      font: bold 16px/30px arial, serif;
}

#about h2
{
      margin-left: 200px;
      font: bold 14px/30px arial, serif;
}

#about p
{
      margin-left: 200px;
      font:  12px/30px arial, serif;
}

#personal
{
    overflow: auto;
    width: 98%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid black;
}

#personal h2
{
      margin-left: 200px;
      font:  bold 14px/30px arial, serif;
}

#personal p
{
      margin-left: 200px;
      font:  12px/30px arial, serif;
}

#personal img
{
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    height: 100px;
    width: 100px;
}

/* School Images -------------------------------------------------------------------------------------------- */

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    margin-left: 100px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 300px;
    height: 200px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

#contact
{
    overflow: auto;
    width: 98%;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-right: 150px;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid black;
}


/* Resume CSS --------------------------------------------------------------------------------------------*/

#ex1 {
    border: 2px solid;
    padding: 10px;
    background: #d1e0e0;
    border-top-left-radius: 2em;
    margin-bottom: 10px;
}

#ex1 h3
{
      font: bold 15px/30px arial, serif;
}  

#ex2 {
    border: 2px solid;
    padding: 10px;
    background: #d1e0e0;
    border-top-left-radius: 2em;
    margin-bottom: 10px;    
}
#ex2 h3
{
      font: bold 15px/30px arial, serif;
} 
#ex3 {
    border: 2px solid;
    padding: 10px;
    background: #d1e0e0;
    border-top-left-radius: 2em;
    margin-bottom: 10px;    
}
#ex3 h3
{
      font: bold 15px/30px arial, serif;
} 
#ex4 {
    border: 2px solid;
    padding: 10px;
    background: #d1e0e0;
    border-top-left-radius: 2em;
    margin-bottom: 10px;    
}
#ex4 h3
{
      font: bold 15px/30px arial, serif;
} 
#ex5 {
    border: 2px solid;
    padding: 10px;
    background: #d1e0e0;
    border-top-left-radius: 2em;
    margin-bottom: 10px;    
}
#ex5 h3
{
      font: bold 15px/30px arial, serif;
} 
#ex6 {
    border: 2px solid;
    padding: 10px;
    background: #d1e0e0;
    border-top-left-radius: 2em;
    margin-bottom: 10px;    
}
#ex6 h3
{
      font: bold 15px/30px arial, serif;
} 
#ex7 {
    border: 2px solid;
    padding: 10px;
    background: #d1e0e0;
    border-top-left-radius: 2em;
    margin-bottom: 10px;    
}
#ex7 h3
{
      font: bold 15px/30px arial, serif;
} 
#ex8 {
    border: 2px solid;
    padding: 10px;
    background: #d1e0e0;
    border-top-left-radius: 2em;
    margin-bottom: 10px;    
}
#ex8 h3
{
      font: bold 15px/30px arial, serif;
} 
/* Table - CSS --------------------------------------------------------------------------------------------*/


#high h2{
      text-align: center;
      font: bold 25px/30px arial, serif;
}  

#high {

    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px; 

}

#high th, td {
    text-align: left;
    padding: 8px;
}

#high tr:nth-child(even){background-color: #f2f2f2}

#high th {
    background-color: #669999;
    color: white;
}


#skill h2{
      text-align: center;
      font: bold 25px/30px arial, serif;
}  

#skill {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px; 

}

#skill th, td {
    text-align: left;
    padding: 8px;
}

#skill tr:nth-child(even){background-color: #f2f2f2}

#skill th {
    background-color: #669999;
    color: white;
}

/* Executive Summary CSS --------------------------------------------------------------------------------------------*/

#sum h1
{
      text-align: center;
      font: bold 25px/30px arial, serif;
      margin-bottom: 10px; 
}

#sum p
{
      text-align: center;
      font:  15px/30px arial, serif;
      margin-bottom: 10px; 
}

#pro
{
      text-align: center;
      font:  bold 25px/30px arial, serif;
      margin-bottom: 10px; 
} 

#edu
{
      text-align: center;
      font:  bold 25px/30px arial, serif;
      margin-bottom: 10px; 
} 

/* education */

#edu h2{
      text-align: center;
      font: bold 25px/30px arial, serif;
}  

#edu2 {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px; 

}

#edu2 th, td {
    text-align: center;
    padding: 8px;
}



#edu2 tr:nth-child(even){background-color: #f2f2f2}

#edu2 th {
    background-color: #669999;
    color: white;
}

#mil h1
{
      text-align: center;
      font: bold 25px/30px arial, serif;
      margin-bottom: 10px; 
}

#mil p
{
      text-align: center;
      font:  15px/30px arial, serif;
      margin-bottom: 10px; 
}    



#hob h1
{
      text-align: center;
      font: bold 25px/30px arial, serif;
      margin-bottom: 10px; 
}

#hob h2
{
      text-align: left;
      font: bold 20px/30px arial, serif;
      margin-bottom: 10px; 
}